@using InventoryManagementSystem.Models
@using System.Data
@model List<InventoryItemViewModel>
@{
    ViewData["Title"] = "Home Page";	
}
<div class="alert alert-danger" role="alert" style="display:none" id="errorLabel">
    <div asp-validation-summary="All" class="mb-0">Some errors here</div>
</div>
<h4>Inventories</h4>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                
                <li class="nav-item authenticated">
                    <button class="btn btn-primary" type="button" id="createNewBtn" data-bs-toggle="modal" data-bs-target="#createNewModal">Create inventory</button>
                    <div class="modal fade" id="createNewModal" tabindex="-1" aria-labelledby="createNewModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="createNewModalLabel">Create new inventory</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="card shadow-sm p-4">
                                        <div class="row mb-4 align-items-center">
                                            <div class="col-md-3">
                                                <label for="titleInpt" class="form-label text-muted mb-0">
                                                    Title
                                                </label>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control"
                                                       name="Title" id="titleInpt"
                                                       placeholder="Enter inventory title" />
                                            </div>
                                        </div>
                                        <div class="row mb-4 align-items-center">
                                            <div class="col-md-3">
                                                <label for="categorySelect" class="form-label text-muted mb-0">
                                                    Category
                                                </label>
                                            </div>
                                            <div class="col-md-9">
                                                <select class="form-select selectpicker" id="categorySelect"
                                                        name="CategoryId" data-live-search="true"
                                                        data-width="100%">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-check mt-2">
                                                    <input type="checkbox" class="form-check-input"
                                                           id="isPublicCheckbox" name="IsPublic" />
                                                    <label class="form-check-label ms-2" for="isPublicCheckbox">
                                                        Make Inventory Public
                                                        <span class="text-muted d-block small">
                                                            Any authenticated user can add items
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="btnAddNew">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Choose category
                    </a>
                    <ul class="dropdown-menu" id="ddmCategory"></ul>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>


<ul class="nav nav-tabs authenticated">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">My created inventories</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Other inventories</a>
    </li>    
</ul>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Desciption</th>
            <th scope="col">Created By</th>
            <th scope="col">Created At</th>
            <th scope="col">Is public</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr class="clickable-row" data-target="#detail-@item.Number">
                <th scope="row">@item.Number</th>
                <td>
                    <a href="#" data-inventoryid="@item.Id">
                    @item.Title
                    </a>
                </td>
                <td>@item.Description</td>
                <td>@item.CreatedBy</td>
                <td>@item.CreatedAt.ToString("yyyy-MM-dd")</td>
				<td>@(item.IsPublic ? "Yes" : "No")</td>
            </tr>
            @if (item.ValuesDT != null)
	        {
                <tr class="collapse detail-row" id="detail-@item.Number">
                    <td colspan="6">                        
                        <table class="table table-sm table-bordered mt-2 table-secondary">
                            <thead class="table-light">
                                <tr>
                                    @foreach (DataColumn column in item.ValuesDT.Columns)
                                    {
                                        <th>@column.ColumnName</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(DataRow stock in item.ValuesDT.Rows)
                                {
                                    <tr>
                                        @foreach (DataColumn column in item.ValuesDT.Columns)
                                        {
                                            <td>@stock[column]</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
				    </td>
			    </tr>
            }
        }        
    </tbody>
</table>


@section Scripts {
    <script>
        $(document).ready(function () {            
			const token = localStorage.getItem("authToken");
            if (!token) {
                $(".authenticated").hide();
			}

            $(".clickable-row td a").click(function(e) {
                e.stopPropagation();
                e.preventDefault();
                var inventoryId = $(this).data("inventoryid");

                var url = "@Url.Action("Index", "Inventory")"+"?inventoryId="+inventoryId;
                window.location.href = url;
            });

            const selectElement = $('#categorySelect');
            selectElement.find('option:not(:first)').remove();

            var $dropdown = $("#ddmCategory");
            $dropdown.empty();   // clear old items
            
            $.ajax({
                url: '@Url.Action("GetCategories", "Dictionary")',
                method: 'GET',
                success: function (data) {

                    $.each(data, function(index, item) {
                        selectElement.append($('<option>', {
                            value: index,
                            text: item
                        }));

                        var itemAppend = `<li><a class="dropdown-item" href="#" data-value="${index}">${item}</a></li>`;

                        $dropdown.append(itemAppend);
                    });
                },
                error: function () {
                    console.log('Failed to load categories.');
                }
            });

            $('#btnAddNew').click(function() {
                
                var inventoryData = {
                    "title": $('#titleInpt').val(),
                    "categoryId": $('#categorySelect').val(),
                    "isPublic": $('#isPublicCheckbox').prop('checked'),
                };

                console.log(inventoryData);

                $.ajax({
                    url: '@Url.Action("Add", "Inventory")',
                    headers: {'Authorization': 'Bearer ' + token},
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(inventoryData),
                    success: function (response) {
                        $('#createNewModal').modal('hide');

                        if(response.success) {
                            
                            window.location.href = '@Url.Action("Index", "Inventory")'+'?inventoryId='+response.data;
                        }
                    },
                    error: function (error) {
                        console.log('Failed to add inventory.' + error);
                        $('.modal-body').prepend('<div class="alert alert-danger" role="alert">Failed to add new inventory. Please try again. '+error.message+'</div>');
                    }
                });
            });


        });
        document.querySelectorAll(".clickable-row").forEach(row => {
            row.addEventListener("click", function (e) {
                console.log("From event ",e.target.tagName);

                if (e.target.closest("a")) return;
                const selector = this.dataset.target;
                if (!selector) return;

                const target = document.querySelector(selector);
                if (!target) return;

                const collapse = bootstrap.Collapse.getOrCreateInstance(target);
                collapse.toggle();
            });
        });
    </script>
}