@using System.Data
@{
    ViewData["Title"] = "Home Page";	
}
@section Styles {
    <style>
        
    </style>
}
<div class="alert alert-danger" role="alert" style="display:none" id="errorLabel">
    <div asp-validation-summary="All" class="mb-0">Some errors here</div>
</div>
<h4>Inventories</h4>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-md-3">
                
                <li class="nav-item authenticated">
                    <button class="btn btn-primary" type="button" id="createNewBtn" data-bs-toggle="modal" data-bs-target="#createNewModal">Create inventory</button>
                    <div class="modal fade" id="createNewModal" tabindex="-1" aria-labelledby="createNewModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="createNewModalLabel">Create new inventory</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="card shadow-sm p-4">
                                        <div class="row mb-4 align-items-center">
                                            <div class="col-md-3">
                                                <label for="titleInpt" class="form-label text-muted mb-0">
                                                    Title
                                                </label>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control"
                                                       name="Title" id="titleInpt"
                                                       placeholder="Enter inventory title" />
                                            </div>
                                        </div>
                                        <div class="row mb-4 align-items-center">
                                            <div class="col-md-3">
                                                <label for="categorySelect" class="form-label text-muted mb-0">
                                                    Category
                                                </label>
                                            </div>
                                            <div class="col-md-9">
                                                <select class="form-select selectpicker" id="categorySelect"
                                                        name="CategoryId" data-live-search="true"
                                                        data-width="100%">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-check mt-2">
                                                    <input type="checkbox" class="form-check-input"
                                                           id="isPublicCheckbox" name="IsPublic" />
                                                    <label class="form-check-label ms-2" for="isPublicCheckbox">
                                                        Make Inventory Public
                                                        <span class="text-muted d-block small">
                                                            Any authenticated user can add items
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="btnAddNew">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                
                <li class="nav-item">                    
                    <select class="form-select rounded-3" id="ddmCategory">
                        <option selected>All</option>
                    </select>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="searchInput" />
            </form>
        </div>
    </div>
</nav>


<ul class="nav nav-tabs authenticated">
    <li class="nav-item">
        <a class="nav-link inventory-tab active" aria-current="page" href="#" data-type="my">My created inventories</a>
    </li>
    <li class="nav-item">
        <a class="nav-link inventory-tab" href="#" data-type="all">Other inventories</a>
    </li>    
</ul>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Desciption</th>
            <th scope="col">Created By</th>
            <th scope="col">Created At</th>
            <th scope="col">Is public</th>
        </tr>
    </thead>
    <tbody id="inventoryTableBody">
        
    </tbody>
</table>


@section Scripts {
    <script>
        $(document).ready(function () {            
			const token = localStorage.getItem("authToken");
            if (!token) {
                $(".authenticated").hide();
			}

            loadInventories();

            function loadInventories() {
                var isAuthenticated = token && token.trim() !== "";
                var selectedTab = $('.inventory-tab.active').data('type'); // "all" or "my"
                var categoryId = $('#ddmCategory').val();
                var searchText = $('#searchInput').val();

                var requestData = {
                    categoryId: categoryId || null,
                    searchText: searchText || null,
                    inventoryType: selectedTab // "all" or "my"
                };

                var url = isAuthenticated ? '@Url.Action("ListAuth", "Home")' : '@Url.Action("ListAll", "Home")';

                $.ajax({
                    url: url,
                    type: 'GET',
                    data: requestData,
                    headers: isAuthenticated ? {'Authorization': 'Bearer ' + token} : {},
                    success: function(response) {

                        var tbody = $('#inventoryTableBody');
                        tbody.empty();

                        if (!response || response.length === 0) {
                            tbody.append('<tr><td colspan="6" class="text-center">No data found</td></tr>');
                            return;
                        }

                        $.each(response, function (index, item) {

                            var btnText = item.isPublic ? `<span class="badge bg-success">Yes</span>` : `<span class="badge bg-secondary">No</span>`;

                            var row = `
                                <tr class="clickable-row" data-target="#detail-${item.number}">
                                    <th scope="row">${item.number}</th>
                                    <td>
                                        <a href="#" data-inventoryid="${item.id}">${item.title}</a>
                                    </td>
                                    <td>${item.description}</td>
                                    <td>${item.createdBy}</td>
                                    <td>${formatDate(item.createdAt)}</td>
                                    <td>${btnText}</td>
                                </tr>`;

                            tbody.append(row);
                        });

                    },
                    error: function () {
                        alert("Error loading inventories.");
                    }
                });
            }

            function formatDate(dateString) {
                var date = new Date(dateString);
                return date.toLocaleDateString();
            }

            $(document).on('click', '.inventory-tab', function (e) {
                e.preventDefault();
                $('.inventory-tab').removeClass('active');
                $(this).addClass('active');
                loadInventories();
            });

            $(document).on('change', '#ddmCategory', function (e) {
                console.log("ddmCategory on change");
                loadInventories();
            });

            var searchTimeout;
            $('#searchInput').on('keyup', function () {
                clearTimeout(searchTimeout);
                searchTimeout = setTimeout(function () {
                    loadInventories();
                }, 500);
            });

            $(document).on("click", ".clickable-row td a", function (e) {
                e.stopPropagation();
                e.preventDefault();
                var inventoryId = $(this).data("inventoryid");

                var url = "@Url.Action("Index", "Inventory")"+"?inventoryId="+inventoryId;
                window.location.href = url;
            });

            const selectElement = $('#categorySelect');
            selectElement.find('option:not(:first)').remove();

            const selectDdm = $('#ddmCategory');
            selectDdm.find('option:not(:first)').remove();
            
            $.ajax({
                url: '@Url.Action("GetCategories", "Dictionary")',
                method: 'GET',
                success: function (data) {

                    $.each(data, function(index, item) {
                        selectElement.append($('<option>', {
                            value: index,
                            text: item
                        }));

                        selectDdm.append($('<option>', {
                            value: index,
                            text: item
                        }));

                    });
                },
                error: function () {
                    console.log('Failed to load categories.');
                }
            });

            $('#btnAddNew').click(function() {
                
                var inventoryData = {
                    "title": $('#titleInpt').val(),
                    "categoryId": $('#categorySelect').val(),
                    "isPublic": $('#isPublicCheckbox').prop('checked'),
                };

                console.log(inventoryData);

                $.ajax({
                    url: '@Url.Action("Add", "Inventory")',
                    headers: {'Authorization': 'Bearer ' + token},
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(inventoryData),
                    success: function (response) {
                        $('#createNewModal').modal('hide');

                        if(response.success) {
                            
                            window.location.href = '@Url.Action("Index", "Inventory")'+'?inventoryId='+response.data;
                        }
                    },
                    error: function (error) {
                        console.log('Failed to add inventory.' + error);
                        $('.modal-body').prepend('<div class="alert alert-danger" role="alert">Failed to add new inventory. Please try again. '+error.message+'</div>');
                    }
                });
            });


        });
        document.querySelectorAll(".clickable-row").forEach(row => {
            row.addEventListener("click", function (e) {
                console.log("From event ",e.target.tagName);

                if (e.target.closest("a")) return;
                const selector = this.dataset.target;
                if (!selector) return;

                const target = document.querySelector(selector);
                if (!target) return;

                const collapse = bootstrap.Collapse.getOrCreateInstance(target);
                collapse.toggle();
            });
        });
    </script>
}