@model InventoryValueViewModel;
@{
    ViewBag.Title = "Inventory value details";
}
@section Styles {
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        .full-height {
            height: 100vh;
        }

        .container {
            margin-left: inherit;
            padding: 0;
        }

        .light-mode.left-panel {
            background-color: #f8f9fa;
            border-right: 1px solid #dee2e6;
        }

        .dark-mode.left-panel {
            background-color: #2F3439;
            border-right: 1px solid #dee2e6;
        }

        .comment-section {
            border-top: 1px solid #dee2e6;
            background: #ffffff;
        }

        .scrollable {
            overflow-y: auto;
        }

        .row + .row {
            margin-top: 8px;
        }
    </style>
}

<div class="container-fluid full-height d-flex flex-column">
    <div class="row flex-grow-1">

        <partial name="Inventory/_Info" model="Model.BasicInfo" />

        <div class="col-md-9 p-4 scrollable">
            <h4 class="mb-4">Inventory Value</h4>

            <div class="container-fluid border rounded p-3 bg-light">

                <div class="d-flex justify-content-end mb-3" id="valueSettings">
                </div>

                @foreach (var field in Model.Fields)
                {
                    <div class="row mb-3 align-items-center"> 
                        <label class="col-md-3 col-form-label text-muted fw-semibold"> @field.Title </label> 
                        <div class="col-md-9"> 
                            @switch (field.TypeId)
                            {
                                case (int)DataTypeEnum.Singleline1:
                                    <input class="form-control" id="singleline1" value="@Model.MainInfo.Singleline1" />
                                    break;
                                case (int)DataTypeEnum.Singleline2:
                                    <input class="form-control" id="singleline2" value="@Model.MainInfo.Singleline2" />
                                    break;
                                case (int)DataTypeEnum.Singleline3:
                                    <input class="form-control" id="singleline3" value="@Model.MainInfo.Singleline3" />
                                    break;
                                case (int)DataTypeEnum.Multiline1:
                                    <textarea class="form-control" rows="3" id="multiline1">@Model.MainInfo.Multiline1</textarea>
                                    break;
                                case (int)DataTypeEnum.Multiline2:
                                    <textarea class="form-control" rows="3" id="multiline2">@Model.MainInfo.Multiline2</textarea>
                                    break;
                                case (int)DataTypeEnum.Multiline3:
                                    <textarea class="form-control" rows="3" id="multiline3">@Model.MainInfo.Multiline3</textarea>
                                    break;
                                case (int)DataTypeEnum.Num1:
                                    <input type="number" class="form-control" id="num1" value="@Model.MainInfo.Num1" />
                                    break;
                                case (int)DataTypeEnum.Num2:
                                    <input type="number" class="form-control" id="num2" value="@Model.MainInfo.Num2" />
                                    break;
                                case (int)DataTypeEnum.Num3:
                                    <input type="number" class="form-control" id="num3" value="@Model.MainInfo.Num3" />
                                    break;
                                case (int)DataTypeEnum.Check1:
                                    <div class="form-check">
                                        @if (Model.MainInfo.Check1 != null && (Model.MainInfo.Check1 ?? false))
                                        {
                                            <input type="checkbox" class="form-check-input" id="check1" checked />
                                        }
                                        else
                                        {
                                            <input type="checkbox" class="form-check-input" id="check1" />
                                        }
                                    </div>
                                    break;
                                case (int)DataTypeEnum.Check2:
                                    <div class="form-check">
                                        @if (Model.MainInfo.Check2 != null && (Model.MainInfo.Check2 ?? false))
                                        {
                                            <input type="checkbox" class="form-check-input" id="check2" checked/>
                                        }
                                        else
                                        {
                                            <input type="checkbox" class="form-check-input" id="check2" />
                                        }
                                    </div>
                                    break;
                                case (int)DataTypeEnum.Check3:
                                    <div class="form-check">
                                        @if (Model.MainInfo.Check3 != null && (Model.MainInfo.Check3 ?? false))
                                        {
                                            <input type="checkbox" class="form-check-input" id="check3" checked/>
                                        }
                                        else
                                        {
                                            <input type="checkbox" class="form-check-input" id="check3" />
                                        }
                                    </div>
                                    break;
                                case (int)DataTypeEnum.Datetime1:
                                    <input type="datetime-local" class="form-control" id="datetime1" value="@Model.MainInfo.Datetime1" />
                                    break;
                                case (int)DataTypeEnum.Datetime2:
                                    <input type="datetime-local" class="form-control" id="datetime2" value="@Model.MainInfo.Datetime2" />
                                    break;
                                case (int)DataTypeEnum.Datetime3:
                                    <input type="datetime-local" class="form-control" id="datetime3" value="@Model.MainInfo.Datetime3" />
                                    break;
                                case (int)DataTypeEnum.ImageUrl1:
                                    <input type="file" class="form-control addValue" accept="image/*" id="imageurl1" value="@Model.MainInfo.ImageUrl1" disabled/>
                                    break;
                                case (int)DataTypeEnum.ImageUrl2:
                                    <input type="file" class="form-control addValue" accept="image/*" id="imageurl2" value="@Model.MainInfo.ImageUrl2" disabled/>
                                    break;
                                case (int)DataTypeEnum.ImageUrl3:
                                    <input type="file" class="form-control addValue" accept="image/*" id="imageurl3" value="@Model.MainInfo.ImageUrl3" disabled/>
                                    break;
                                case (int)DataTypeEnum.CreatedBy:
                                    <span>@Model.MainInfo.CreatedBy</span>
                                    break;
                                case (int)DataTypeEnum.CreatedAt:
                                    <span>@Model.MainInfo.CreatedAt.ToString("yyyy-MM-dd HH:mm")</span>
                                    break;
                            }
                        </div> 
                    </div>
                }
                <div class="mt-4 d-flex justify-content-end"> 
                    <button type="submit" class="btn btn-primary me-2" id="updateBtn"> Save </button> 
                    <a class="btn btn-outline-secondary"> Cancel </a> 
                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function() {
            $('#updateBtn').click(function() {
                const token = localStorage.getItem('authToken');
                let inventoryId = @Model.BasicInfo.Id;

                let updateModel = {
                    id: @Model.MainInfo.Id,
                    singleline1: $('#singleline1').val(),
                    singleline2: $('#singleline2').val(),
                    singleline3: $('#singleline3').val(),
                    multiline1: $('#multiline1').val(),
                    multiline2: $('#multiline2').val(),
                    multiline3: $('#multiline3').val(),
                    num1: $('#num1').val(),
                    num2: $('#num2').val(),
                    num3: $('#num3').val(),
                    check1: $('#check1').prop('checked'),
                    check2: $('#check2').prop('checked'),
                    check3: $('#check3').prop('checked'),
                    datetime1: $('#datetime1').val(),
                    datetime2: $('#datetime2').val(),
                    datetime3: $('#datetime3').val(),
                };

                $.ajax({
                    url: '@Url.Action("Save", "InventoryValue")',
                    contentType: 'application/json',
                    headers: {'Authorization': 'Bearer ' + token},
                    method: 'POST',
                    data:JSON.stringify(updateModel),
                    success: function (response) {
                        if(response.success) {
                            window.location.href = '@Url.Action("Index", "Inventory")'+'?inventoryId='+inventoryId;
                        }
                    },
                    error: function (error) {
                        console.log('Failed to update value.' + error);
                        $('body').prepend('<div class="alert alert-danger" role="alert">Failed to update value. Please try again. '+error.message+'</div>');
                    }

                });

            });
        });
    </script>
}